﻿@model X.PagedList.IPagedList<RnR.Admin.Models.CartItemsViewModel>
@using X.PagedList.Mvc.Core;

@{ ViewData["Title"] = "Cart Items"; }

<div class="container" id="page__content" style="display:none;">
    <header class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </header>
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-6" style="float:left;">

            </div>
            <div class="col-6" style="float:right;">
                @using (Html.BeginForm("Index", "AdminCart", FormMethod.Get))
                {
                    <p style="margin:5px 0px;float:right;">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input style="margin: 5px 0px;" type="submit" value="search" />
                    </p>
                }
            </div>
        </div>
    </div>
    @if (ViewBag.NoCartItemsFound != null)
    {
          <div id="warning__section" class="alert alert-danger" style="text-align:center; margin-top: 10%;">
               <strong>@ViewBag.NoCartItemsFound</strong>
          </div>
    }
    else
    {
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.UserIDSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("User", "Index", new { sortOrder = ViewBag.UserNameSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Product Title", "Index", new { sortOrder = ViewBag.ProductTitleSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParam, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => product.cartID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.fullUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.productTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.price)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                <div style="float:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                        new X.PagedList.Web.Common.PagedListRenderOptions
                        {
                            DisplayLinkToIndividualPages = true,
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" }
                        })
                </div>
            </div>
        </div>
    }
</div>


@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")