﻿@model X.PagedList.IPagedList<RnR.Admin.Entities.Product>
@using X.PagedList.Mvc.Core;

@{
    ViewData["NoProducts"] = string.Format("No Products Found For Brand: {0}", arg0: ViewBag.Brand);
    ViewData["PageTitle"] = string.Format("Brand: {0}", arg0: ViewBag.Brand);
}

<div id="page__content" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <header class="text-center">
                    <h4 class="display-4">@ViewData["PageTitle"]</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                @if (ViewBag.HasProducts == null)
                {
                    <div id="warning__section" class="alert alert-danger" style="text-align:center; margin-top: 10%">
                        <string>@ViewData["NoProducts"]</string>
                    </div>
                }
                else
                {
                    <div class="row table-responsive-md">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.ActionLink("ID", "BrandDetails", new { sortOrder = ViewBag.IDSortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th>@Html.ActionLink("Title", "BrandDetails", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th>@Html.ActionLink("Category", "BrandDetails", new { sortOrder = ViewBag.CategorySortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th>@Html.ActionLink("Brand", "BrandDetails", new { sortOrder = ViewBag.BrandSortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th>@Html.ActionLink("Quantity", "BrandDetails", new { sortOrder = ViewBag.QuantitySortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th>@Html.ActionLink("Price", "BrandDetails", new { sortOrder = ViewBag.PriceSortParam, currentFilter = ViewBag.CurrentFilter, brand = ViewBag.Brand })</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td scope="row">@Html.DisplayFor(model => product.productID)</td>
                                        <td scope="row">@Html.DisplayFor(model => product.title)</td>
                                        <td scope="row">@Html.DisplayFor(model => product.category)</td>
                                        <td scope="row">@Html.DisplayFor(model => product.brand)</td>
                                        <td scope="row">@Html.DisplayFor(model => product.quantity)</td>
                                        <td scope="row">@Html.DisplayFor(model => product.price)</td>
                                        <td>@Html.ActionLink("Edit", "EditProduct", "AdminProducts", new { barcode = product.barcode, productID = product.productID })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="container" style="float:right;">
                                <div style="float:right;" data-form-method="post">
                                    @Html.PagedListPager(Model, page => Url.Action("BrandDetails",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, brand = Model[0].brand }),
                                    new X.PagedList.Web.Common.PagedListRenderOptions
                                    {
                                        DisplayLinkToIndividualPages = true,
                                        LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" }
                                    })
                                </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")