﻿@model List<RnR.Data.Models.Product>
@{ ViewData["Title"] = "Rick 'n Ray Online Shopper"; }

<div id="page__content" style="display:none;">
    <div class="text-center">
        <div class="container">
            <div class="album py-5 bg-light">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card illustration flex-fill">
                                <div class="card-body p-0 d-flex flex-fill">
                                    <div class="row g-0 w-100">
                                        <div class="col-6">
                                            <div class="illustration-text pb-3 m-1" style="text-align:left;padding:1rem;">
                                                <h2 style="color:#3F80EA;">Welcome Back</h2>
                                                <h2 style="color:#3F80EA;margin-top:1rem;">@ViewBag.UserName!</h2>
                                            </div>
                                        </div>
                                        <div class="col-6 align-self-end text-end">
                                            <img src="~/images/customer-support.png" alt="Customer Support" class="img-fluid illustration-img" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5 text-center pb-3">
                <div class="row">
                    <!-- Current Users -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.UsersCount</h3>
                                        <p class="mb-2">Total Users</p>
                                        <div class="mb-0">
                                            <span class="badge badge-soft-success me-2 display-4">Administrators: </span>
                                            <span class="text-muted display-5">@ViewBag.AdminUsersCount</span>
                                        </div>
                                        <div class="mb-0">
                                            <span class="badge badge-soft-success me-2 display-4">Registered: </span>
                                            <span class="text-muted display-5">@ViewBag.RegularUsersCount</span>
                                        </div>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-person-circle align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PaidItems -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.TotalEarnings</h3>
                                        <p class="mb-2">Total Earnings</p>
                                        <div class="mb-0">
                                            <span class="badge badge-soft-success me-2 display-4">Total Items Sold: </span>
                                            <span class="text-muted display-5">@ViewBag.PaidItemsCount</span>
                                        </div>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-cash-coin align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Collections -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.CollectionItemsCount</h3>
                                        <p class="mb-2">Pending Collections</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-bank2 align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Deliveries -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.DeliveriesItemsCount</h3>
                                        <p class="mb-2">Pending Deliveries</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-truck align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Products -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.ProductsCount</h3>
                                        <p class="mb-2">Current Products</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-cart4 align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Brands -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.BrandsCount</h3>
                                        <p class="mb-2">Current Brands</p>
                                        <div class="dropdown">
                                            <form class="form-inline" method="post" asp-controller="AdminLanding" asp-action="BrandDetails">
                                                <div class="input-group">
                                                    <select class="form-control-sm" name="brand" id="brand" required style="float:left;margin: 0 5px;">
                                                        @foreach (var item in Model)
                                                        {
                                                            <option value="@item.brand">@Html.Label(@item.brand)</option>
                                                        }
                                                    </select>
                                                    <span class="input-group-btn">
                                                        <input class="btn btn-outline-secondary btn-sm" type="submit" value="View Products" style="float:right;margin-left:5px;" />
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-check-circle align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:text-top;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shopping Lists -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.ShoppingListsCount</h3>
                                        <p class="mb-2">User Shopping Lists</p>
                                        <div class="mb-0">
                                            <span class="badge badge-soft-success me-2 display-4">Total List Items: </span>
                                            <span class="text-muted display-5">@ViewBag.ShoppingListItemsCount</span>
                                        </div>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-card-checklist align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Favorites -->
                    <div class="col-12 col-sm-6 col-xxl-3 d-flex" style="margin-bottom:0.5rem;">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">@ViewBag.FavoriteItemsCount</h3>
                                        <p class="mb-2">Current Favorites</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="chip chip-lg">
                                            <i class="bi-suit-heart align-middle text-success" style="font-size:4rem;padding-right:2rem;vertical-align:middle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette__divider" />

    <div class="container-fluid" style="padding-bottom:0.5rem;">
        <div class="row justify-content-md-center">
            <div style="text-align:center;margin-top:1rem;">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/images/Carousel_Images/slide1.jpg" alt="Slide Image">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/Carousel_Images/slide2.jpg" alt="Slide Image">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/Carousel_Images/slide3.jpg" alt="Slide Image">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/Carousel_Images/slide4.jpg" alt="Slide Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")