﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RnR Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#B9154A;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="padding-left: 65px;">RNR DASHBOARD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                @*<ul class="navbar-nav me-auto mb-2 mb-lg-0 pull-right">
                        <li class="nav-item">
                            <a class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Users</a>
                        </li>
                    </ul>
                    <span class="navbar-text">

                    </span>*@
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-9" style="width:100%;height:50px;border:1px solid #575757;margin:25px 10px;">

                </div>
                <div class="col-4">
                    <div id="userchart__area" class="card" style="width:40rem;padding:1rem;display:none;">
                        <canvas id="bar-chart-grouped" class="card-img-top"></canvas>
                        <div class="card-body">
                            <h5 class="card-title">Current Users</h5>
                            <p class="card-text">Users logged in over the past year</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-6">
                        <div class="card" style="width:40rem;padding:1rem;">
                            <canvas id="bar-chart-horizontal"class="card-img-top"></canvas>
                            <div class="card-body">
                                <h5 class="card-title">Current Users</h5>
                                <p class="card-text">Users and their dates joined over the past month</p>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </main>
    <script type="text/javascript">const WEEKDAYS = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
        const MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const COLORS = ["#66a3ff", "#80e5ff", "#80ffe5", "#aa80ff", "#ff66ff", "#80ff80", "#ffff66", "#ff8533", "#ffc61a", "#66cc99", "#ff4dff", "#ff4d4d"];

        var users = [];
        var products = [];
        var brands = [];
        var userData = [];

        $(document).ready(() => {
            GetData().then(() => {
                createUserData(users);
                createUsersChart();
            }).catch(error => alert(JSON.stringify(error)));
        });

        const getBrandData = () => {
            products.forEach(product => {
                brands.push(product.brand);
            });
            brands = Array.from(new Set(brands));
        }

        const getProductsPromise = new Promise((resolve, reject) => {
            var xhr = new XMLHttpRequest();
            xhr.responseType = "json";
            xhr.overrideMimeType("application/json");
            xhr.open("GET", "https://localhost:4446/dashboard/getproducts", true);
            xhr.onload = function () {
                if (this.status == 200) {
                    resolve(xhr.response);
                } else {
                    reject(xhr.response);
                }
            };
            xhr.send();
        });

        const getUsersPromise = new Promise((resolve, reject) => {
            $.ajax({
                url: "https://localhost:4446/dashboard/getusers",
                dataType: "json",
                type: "GET",
                async: true,
                success: function (data) {
                    resolve(data);
                },
                error: function (data, textStatus, jqxhr) {
                    reject(data);
                }
            });
        });

        async function GetData() {
            await getUsersPromise.then((value) => { users = value; });
            await getProductsPromise.then((value) => { products = value }).then(() => {
                getBrandData();
            });
        }

        const createUsersChart = () => {
            new Chart(document.getElementById("bar-chart-grouped"), {
                type: 'bar',
                data: {
                    labels: MONTHS,
                    datasets: userData
                },
                options: {
                    title: {
                        display: true,
                        text: 'Number Of Users Logged In Past Year'
                    }
                }
            });

            $('#userchart__area').show();
        }

        const createUserData = (users) => {
            users.forEach(user => {
                const _user = {
                    label: user.firstName,
                    backgroundColor: COLORS[Math.floor(Math.random() * 12)],
                    data: [0, 8, 4, 2, 6, 4, 5, 3, 7, 8, 11, 12]
                }
                userData.push(_user);
            });
        }
    </script>
</body>
</html>
