﻿@model RnR.Admin.Entities.Product

@{ ViewData["Title"] = "Create Product"; }

<div class="container" id="page__content" style="display:none;">
    <header class="text-center">
        <h4 class="display-4">@ViewData["Title"]</h4>
    </header>
    <div class="container-fluid">
        <div style="margin-top: 35px;">
            <div>
                <form style="text-align:left;margin-top:1.5rem;" method="post" asp-controller="AdminProducts" asp-action="CreateProduct" class="form-vertical" role="form" autocomplete="off">
                    <div class="row g-3">
                        <div class="col"></div>
                        <div class="col-sm-4">
                            <div class="input__group">
                                <label class="form-label" asp-for="title">@Html.Label("Product Title: ")</label>
                                <input type="text" asp-for="title" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid product title is requires
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="category" style="margin-top:1rem;">@Html.Label("Category: ")</label>
                                <select class="form-control" asp-for="category" required>
                                    @foreach (var item in ViewBag.Categories)
                                    {
                                        <option>@item.category</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    A valid category is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="brand" style="margin-top:1rem;">@Html.Label("Brand: ")</label>
                                <select class="form-control" asp-for="brand" required>
                                    @foreach (var item in ViewBag.Brands)
                                    {
                                         <option>@item.brand</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    A valid brand is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="barcode" style="margin-top:1rem;">@Html.Label("Barcode: ")</label>
                                <input type="text" asp-for="barcode" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid barcode is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="_usage" style="margin-top:1rem;">@Html.Label("Usage: ")</label>
                                <textarea class="form-control" asp-for="_usage" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    A valid product usage is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input__group">
                                <label class="form-label" asp-for="quantity">@Html.Label("Quantity: ")</label>
                                <input type="text" asp-for="quantity" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid product quantity is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="features" style="margin-top:1rem;">@Html.Label("Features: ")</label>
                                <input type="text" asp-for="features" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid product feature is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="price" style="margin-top:1rem;">@Html.Label("Price: ")</label>
                                <input type="number" asp-for="price" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid product price is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="uri" style="margin-top:1rem;">@Html.Label("URI: ")</label>
                                <input type="text" asp-for="uri" class="form-control" placeholder="" required />
                                <div class="invalid-feedback">
                                    A valid product image URI is required
                                </div>
                            </div>
                            <div class="input__group">
                                <label class="form-label" asp-for="descr" style="margin-top:1rem;">@Html.Label("Description: ")</label>
                                <textarea class="form-control" asp-for="descr" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    A valid product description is required
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div style="text-align:center;margin-top:3rem;padding-top:1rem;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <input class="btn btn-primary" type="submit" value="Create Product" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")