﻿@model X.PagedList.IPagedList<RnR.Admin.Entities.Product>
@using X.PagedList.Mvc.Core;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ ViewData["Title"] = "Products"; }

<div id="page__content" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <header class="text-center">
                    <h4 class="display-4">@ViewData["Title"]</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:25px">
        <div class="row">
             <div class="col-6" style="float:left;">
                <p style="margin: 5px 0px;">
                    @Html.ActionLink("Create Product", "CreateProduct")
                </p>
            </div>
            <div class="col-6" style="float:right;">
                @using (Html.BeginForm("Index", "AdminProducts", FormMethod.Get))
                {
                    <p style="margin: 5px 0px; float:right;">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input style="margin: 5px 0px;" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>
    <div class="container">
        @if (ViewBag.NoProductsFound == null)
        {
            <div class="row table-responsive-md" style="margin-top: 10px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => product.productID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.price)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditProduct", new { barcode = product.barcode, productID = product.productID }) |
                                    @Html.ActionLink("Details", "ProductDetails", new { barcode = product.barcode, productID = product.productID }) |
                                    @Html.ActionLink("Delete", "DeleteProduct", new { barcode = product.barcode, productID = product.productID }) 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="container" style="float:right;">
                    <div style="float:right;">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                            new X.PagedList.Web.Common.PagedListRenderOptions
                            {
                                DisplayLinkToIndividualPages = true,
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            })
                    </div>
                </div>
            </div>
         }
         else
         {
            <div id="warning__section" class="alert alert-danger" style="text-align:center; margin-top: 10%;">
                <strong>@ViewBag.NoProductsFound</strong>
            </div>
         }
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")