﻿@model RnR.Admin.Entities.Product

@{ ViewData["Title"] = "Details"; }

<div class="container" id="page__content" style="display:none;">
    <div style="margin-top: 5%;">
        <header class="text-left">
            <h4 class="display-4">@ViewData["Title"]</h4>
        </header>
    </div>
    <div class="table-responsive-md" style="margin-top:2%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Barcode</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.productID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.price)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")