﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.page-item, .page-link {
    padding: 3px;
}

#warning__section {
    margin-top: 5% !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.featurette__divider {
    margin: 1rem 0;
}

.featurette__heading {
    font-weight:300;
    line-height: 1;
}

.nav-link {
    transition: all 0.8s ease-in-out;
}

.nav-link:hover {
    background-color: #f0f0f5;
    padding-left: 15px;
}

._trixCanvas {
    transition: all 2s ease-in-out;
    opacity: 0.0;
}

._trixCanvasShown {
    opacity: 1.0;
}

button > .navbar-toggler:active {
    outline: none;
}

#icon {
    padding-right:5px;
}

/*.input__group {
    padding: 5px;
    outline: .2rem solid #575757;
    border: .2rem solid #575757;
    border-radius: .5rem;
}*/

#spinner__content {
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 36%;*/
    /*left: 50%;
    margin-top:33%;*/
    display: block;
    margin-top:33%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}