﻿@{
    ViewData["PageTitle"] = "Rick 'n Ray";
    ViewData["PageLead"] = "Administrative Portal";
}
<div class="text-center">
    <div class="container">
        <div class="row" style="text-align:center; display:block">
            <h4 class="display-4">@ViewData["PageTitle"]</h4>
        </div>
    </div>
</div><br />
<div class="px-3 text-center">
    <p class="lead" style="font-size: 2.5rem; font-weight: 200;">@ViewData["PageLead"]</p>
</div><br /><br />
<script type="text/javascript">

    navigator.sayswho = (function () {
        var ua = navigator.userAgent;
        var tem;
        var M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];

        if (/trident/i.test(M[1])) {
            tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
            return 'IE ' + (tem[1] || '');
        }

        if (M[1] === 'Chrome') {
            tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
            if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
        }

        M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];

        if ((tem = ua.match(/version\/(\d+)/i)) != null) {
            M.splice(1, 1, tem[1]);
        }

        return M.join(' ');
    })();

    const CreateMatrixContent = () => {
        var canvas = document.body.appendChild(document.createElement('canvas')),
            context = canvas.getContext('2d');

        context.globalCompositeOperation = 'lighter';
        canvas.width = screen.width;
        canvas.height = Math.floor(screen.height / 2.8);
        canvas.id = "_trixCanvas";
        canvas.className = "_trixCanvas";
        canvas.style.backgroundColor = "#000";
        canvas.style.marginLeft = "25px;";
        canvas.style.marginRight = "25px;";
        canvas.style.marginBottom = "25px;";
        canvas.style.marginTop = "25px;";
        draw();

        var textStrip = ['诶', '比', '西', '迪', '伊', '吉', '艾', '杰', '开', '哦', '屁', '提', '维'];
        @*var textStrip = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];*@
        var stripCount = 60, stripX = new Array(), stripY = new Array(), dY = new Array(), stripFontSize = new Array();

        for (var i = 0; i < stripCount; i++) {
            stripX[i] = Math.floor(Math.random() * screen.width);
            stripY[i] = -100;
            dY[i] = Math.floor(Math.random() * 7) + 3;
            stripFontSize[i] = Math.floor(Math.random() * 16) + 8;
        }

        var theColors = ['#cefbe4', '#81ec72', '#5cd646', '#54d13c', '#4ccc32', '#43c728'];

        var elem, context, timer;

        function drawStrip(x, y) {
            for (var k = 0; k <= 20; k++) {
                var randChar = textStrip[Math.floor(Math.random() * textStrip.length)];
                if (context.fillText) {
                    switch (k) {
                        case 0:
                            context.fillStyle = theColors[0];
                            break;
                        case 1:
                            context.fillStyle = theColors[1];
                            break;
                        case 3:
                            context.fillStyle = theColors[2];
                            break;
                        case 7:
                            context.fillStyle = theColors[3];
                            break;
                        case 13:
                            context.fillStyle = theColors[4];
                            break;
                        case 17:
                            context.fillStyle = theColors[5];
                            break;
                    }
                    context.fillText(randChar, x, y);
                }
                y -= stripFontSize[k];
            }
        }

        function draw() {
            // Clear the canvas and set the properties
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.shadowOffsetX = context.shadowOffsetY = 0;
            context.shadowBlur = 8;
            context.shadowColor = '#94f475';

            for (var j = 0; j < stripCount; j++) {
                context.font = stripFontSize[j] + 'px MatrixCode';
                context.textBaseline = 'top';
                context.textAlign = 'center';

                if (stripY[j] > 1358) {
                    stripX[j] = Math.floor(Math.random() * canvas.width);
                    stripY[j] = -100;
                    dY[j] = Math.floor(Math.random() * 7) + 3;
                    stripFontSize[j] = Math.floor(Math.random() * 16) + 8;
                    drawStrip(stripX[j], stripY[j]);
                } else drawStrip(stripX[j], stripY[j]);

                stripY[j] += dY[j];
            }
            setTimeout(draw, 70);
        }
    }

    (() => {
        if (navigator.sayswho.indexOf("Chrome") !== -1) CreateMatrixContent();
    })();
</script>
