﻿@model List<RnR.Admin.Models.AddressesViewModel>

@{ ViewData["Title"] = "Addresses"; }

<div class="container" id="page__content" style="display:none;">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <header class="text-center">
                <h1 class="display-4">@ViewData["Title"]</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            @if (ViewBag.NoAddresses != null)
            {
                <div id="warning__section" class="alert alert-danger" style="text-align:center; margin-top: 10%;">
                     <strong>@ViewBag.NoAddresses</strong>
                </div>
             }
             else
             {
                <div class="table-responsive-md">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Address Name</th>
                                <th>Address</th>
                                <th>Default</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var address in Model)
                            {
                                 <tr>
                                     <td>
                                         @Html.DisplayFor(modelItem => address.ID)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => address.userFullName)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => address.addressNickName)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => address.userAddress)
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => address.isDefault)
                                     </td>
                                 </tr>
                            }
                        </tbody>
                    </table>
                </div>
             }
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")