﻿@{ ViewData["Title"] = "Rick 'n Ray"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Administrator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        body {
            -ms-overflow-style: none !important;
            overflow-y: scroll !important;
        }

        body::-webkit-scrollbar {
            display: none !important;
        }

        .navbar-nav {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <header>
        @if (ViewBag.UserToken == null)
        {
            <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/onlineshopping_logo.png" style="width:157px;height:36px;"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar" aria-controls="userNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="userNavbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" style="float:right;">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminLogin" asp-action="Login" aria-current="page">
                                    <i id="icon" class="bi-door-open"></i>
                                    Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="AdminLanding" asp-action="Index"><img src="~/images/onlineshopping_logo.png" style="width:157px;height:36px;" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbar" aria-controls="userNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="userNavbar">
                        <ul class="navbar-nav ms-auto mb-2">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminLanding" asp-action="Index" aria-current="page">
                                    <i id="icon" class="bi-house"></i>
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminUsers" asp-action="Index">
                                    <i id="icon" class="bi-people"></i>
                                    Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminProducts" asp-action="Index">
                                    <i id="icon" class="bi-cart"></i>
                                    Products
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminAddress" asp-action="Index">
                                    <i id="icon" class="bi-building"></i>
                                    Addresses
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="AdminCart" asp-action="Index">
                                    <i id="icon" class="bi-basket"></i>
                                    Cart Items
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="navitem" asp-controller="Home" asp-action="Logout">
                                    <i id="icon" class="bi-door-closed"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div style="text-align:center;margin-top:2rem;padding-top:1rem;">
        <footer class="border-top footer text-muted">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <a href="#"><img src="~/images/onlineshopping_logo.png" /></a>
                    </div>
                </div>
                &copy; 2021 Rick 'n Ray Online Shopper Administrator - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        const setSpinner = () => {
            var spinner = document.getElementById('spinner__content');
            var pageContent = document.getElementById('page__content');

            if (spinner !== null) {
                spinner.style.display = "block";

                setTimeout(() => {
                    spinner.style.display = "none";
                    pageContent.style.display = "block";
                }, 1000);
            }
        }

        const setHomeCanvas = () => {
            var canvas = document.getElementById('_trixCanvas');

            if (canvas) {
                setTimeout(() => {
                    canvas.classList.remove('_trixCanvas');
                    canvas.className = "_trixCanvasShown";
                }, 1000);
            } else {
                return;
            }
        }

        // TODO: Set spinner to only when document is loading
        @*document.onreadystatechange = () => {

            if (document.readyState === 'complete') {
                // document ready
            }
        };*@

        window.onload = function () {
            setSpinner();
            setHomeCanvas();
        }
    </script>
</body>
</html>
