﻿@model RnR.Security.Models.LoginModel

@{ ViewData["Title"] = "Admin Login"; }

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-6">
            <header class="text-center" style="margin-top: 5%;">
                <h4 class="display-4">@ViewData["Title"]</h4>
            </header>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top:15%">
        <div class="col">

        </div>
        <div class="col-md-4 col-sm-12">
            <form method="post" asp-controller="AdminLogin" asp-action="Login" class="form-horizontal" role="form" autocomplete="off">
                <div class="mb-3">
                    <label for="email" class="form-label" style="font-size: 1.2rem;">Email Address</label>
                    <input type="email" style="font-size: 1rem;" class="form-control" asp-for="email" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="font-size: 1.2rem;">Password</label>
                    <input type="password" style="font-size: 1rem;" class="form-control" asp-for="password" required />
                </div>
                <button style="margin-left: 38%; margin-top: 2.5rem;" type="submit" class="btn btn-primary">Login</button>
            </form>
            @if (ViewBag.FailedLogin != null)
            {
                <div class="alert alert-danger" style="text-align: center; margin-top: 6%; font-size: 1.2rem;">
                    <strong>@ViewBag.FailedLogin</strong>
                </div>
            }
        </div>
        <div class="col">

        </div>
    </div>
</div>