﻿@model RnR.Admin.Entities.User

@{ ViewData["Title"] = "Create User"; }

<div class="container" id="page__content" style="display:none;">
    <header class="text-center">
        <h4 class="display-4">@ViewData["Title"]</h4>
    </header>
    <div class="container" style="margin-top:35px;">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-6" style="width: 100%;">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.ErrorMessage</strong>
                    </div>
                }
                <form style="text-align:center;margin-top:1.5rem;" method="post" asp-controller="AdminUsers" asp-action="Create" class="form-vertical needs-validation" role="form" autocomplete="off">
                    <table style="margin-left:1rem;">
                        <tr>
                            <td><label class="control-label" style="float:left;vertical-align:bottom">@Html.Label("Role: ")</label></td>
                            <td>
                                <select class="form-control" name="userRole" id="userRole" style="margin: 10px 50px;" required>
                                    <option value="">Select User Role</option>
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" style="float:left;vertical-align:bottom;">@Html.Label("Name: ")</label>
                            </td>
                            <td>
                                <input class="form-control" style="margin: 10px 50px;" asp-for="firstName" type="text" required />
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="float:left;vertical-align:bottom;">@Html.Label("Surname: ")</label></td>
                            <td>
                                <input class="form-control" style="margin: 10px 50px;" asp-for="lastName" type="text" required />
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="float:left;vertical-align:bottom;">@Html.Label("Email: ")</label></td>
                            <td>
                                <input class="form-control" style="margin: 10px 50px;" asp-for="email" type="email" autocomplete="off" required />
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label" style="float:left;vertical-align:bottom;">@Html.Label("Password: ")</label></td>
                            <td>
                                <input class="form-control" style="margin: 10px 50px;" asp-for="encPassword" type="password" autocomplete="off" required />
                            </td>
                        </tr>
                    </table>
                    <input style="margin-top: 25px;" class="btn btn-primary" type="submit" value="Create User" />
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")