﻿@model RnR.Admin.Models.UserDetailsViewModel

@{
   ViewData["Details"] = "Details";
   ViewData["CartItems"] = "Cart Items";
   ViewData["NoCartItems"] = "User Has No Cart Items";
   ViewData["PaidItems"] = "Paid Items";
   ViewData["ShoppingLists"] = "Shopping Lists";
   ViewData["FavoriteItems"] = "Favorites";
}

<div class="container" id="page__content" style="display:none;">
    <div style="margin-top:5%;">
        <header class="text-left">
            <h4 class="display-4">@ViewData["Details"]</h4>
        </header>
    </div>
    <div class="table-responsive-md" style="margin-top: 2%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Role</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Date Joined</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.userRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.doj)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:5%;">
        <header class="text-left">
            <h6 class="display-4">@ViewData["CartItems"]</h6>
        </header>
    </div>
    @if (ViewBag.HasCartItems != null)
    {
        <div class="table-responsive-md" style="margin-top: 2%;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Title</th>
                        <th>Brand</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.cartItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.barcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                        </tr>
                      }
                </tbody>
            </table>
        </div>
     }
     else
     {
         <div class="alert alert-danger" role="alert">
             @ViewData["NoCartItems"]
         </div>
     }
     <div style="margin-top: 5%;">
         <header class="text-left">
             <h6 class="display-4">@ViewData["PaidItems"]</h6>
         </header>
        @if (ViewBag.HasPaidForItems != null)
        {
             <div class="text-left">
                 <label class="display-6">User Has Paid Items</label>
             </div>
         }
         else
         {
             <div class="alert alert-danger" role="alert">
                User Does Not Have Paid Items
             </div>
         }
        </div>
        <div style="margin-top:5%;">
            <header class="text-left">
                <h6 class="display-4">@ViewData["ShoppingLists"]</h6>
            </header>
            @if (ViewBag.HasShoppingLists == null)
            {
                <div class="alert alert-danger" role="alert">
                    User Does Not Have Any Shopping Lists
                </div>
            }
            else
            {
                <div class="table-responsive-md" style="margin-top: 2%;">
                    <table class="table table-striped">
                       <thead>
                           <tr>
                               <th>List ID</th>
                               <th>List Name</th>
                           </tr>
                       </thead>
                       <tbody>
                       @foreach (var list in Model.shoppingLists)
                       {
                            <tr>
                                 <td>
                                     @Html.DisplayFor(modelItem => list.userListID)
                                 </td>
                                 <td>
                                     @Html.DisplayFor(modelItem => list.listName)
                                 </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
     </div>
     <div style="margin-top: 5%;">
         <header class="text-left">
             <h6 class="display-4">@ViewData["FavoriteItems"]</h6>
         </header>
         @if (ViewBag.HasFavorites != null)
         {
             <p>User Has Favorites</p>
         }
         else
         {
             <div class="alert alert-danger" role="alert">
                 User Does Not Have Favorites
             </div>
         }
     </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")