﻿@model RnR.Admin.Entities.User

@{ ViewData["Title"] = "Edit User"; }

<div class="container" id="page__content" style="display:none;">
    <header class="text-center">
        <h4 class="display-4">@ViewData["Title"]</h4>
    </header>

    <div class="col-md-7 col-lg-12">
        <form class="form-vertical needs-validation" novalidate style="margin-top:6rem;" asp-controller="AdminUsers" asp-action="Edit" method="post" role="form">
            @Html.HiddenFor(model => model.encPassword)
            @Html.HiddenFor(model => model.doj)
            @Html.HiddenFor(model => model.userID)
            <div class="row g-3" style="margin-left: 25%;">
                <div class="col-sm-4" style="margin-top: 25px;">
                    <label asp-for="firstName" class="form-label" style="text-align:center">First Name</label>
                    <input type="text" class="form-control" asp-for="firstName" placeholder="" value="@Model.firstName" required />
                    <div class="invalid-feedback">
                        A valid first name is required
                    </div>
                </div>
                <div class="col-sm-4" style="margin-top: 25px;">
                    <label asp-for="lastName" class="form-label" style="text-align:center">Last Name</label>
                    <input type="text" class="form-control" asp-for="lastName" placeholder="" value="@Model.lastName" required />
                    <div class="invalid-feedback">
                        A valid last name is required
                    </div>
                </div>
            </div>
            <div class="row g-3" style="margin-left: 25%;">
                <div class="col-sm-4" style="margin-top: 25px;">
                    <label asp-for="email" class="form-label" style="text-align:center">Email Address</label>
                    <input type="email" class="form-control" asp-for="email" placeholder="" value="@Model.email" required />
                    <div class="invalid-feedback">
                        A valid email is required
                    </div>
                </div>
                <div class="col-sm-4" style="margin-top: 25px;">
                    <label asp-for="userRole" class="form-label" style="text-align:center">User Role</label>
                    <select class="form-control" asp-for="userRole" required>
                        <option value="">Select User Role...</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <div class="invalid-feedback">
                        A valid user role is required
                    </div>
                </div>
            </div>
            <div style="text-align:center;margin-top:3rem;padding-top:1rem;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <input class="btn btn-primary" type="submit" value="Update User" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")