﻿@model X.PagedList.IPagedList<RnR.Admin.Entities.User>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Users";
}

<div id="page__content" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <header class="text-center">
                    <h4 class="display-4">@ViewData["Title"]</h4>
                </header>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-6" style="float:left;">
                <p style="margin: 5px 0px;">
                    @Html.ActionLink("Create User", "Create")
                </p>
            </div>
            <div class="col-6" style="float:right;">
                @using (Html.BeginForm("Index", "AdminUsers", FormMethod.Get))
                {
                    <p style="margin: 5px 0px; float:right;">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input style="margin: 5px 0px;" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-12 col-md-12">
                @if (ViewBag.NoUsersFound != null)
                {
                    <div id="warning__section" class="alert alert-danger" style="text-align:center; margin-top: 10%;">
                        <strong>@ViewBag.NoUsersFound</strong>
                    </div>
                }
                else
                {
                    <div class="table-responsive-md">
                        <table class="table table-striped">
                             <thead>
                                <tr>
                                    <th>@Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.UserRoleSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th>@Html.ActionLink("Surname", "Index", new { sortOrder = ViewBag.LastNameSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th>@Html.ActionLink("Date Joined", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.userRole)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.firstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.lastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => user.doj)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { userID = user.userID, email = user.email }) |
                                                @Html.ActionLink("Details", "Details", new { userID = user.userID, email = user.email }) |
                                                @Html.ActionLink("Delete", "Delete", new { userID = user.userID, email = user.email })
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                        <div class="container">
                            <div style="float:right;">
                                @Html.PagedListPager(Model, page => Url.Action("Index",
                                          new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                                          new X.PagedList.Web.Common.PagedListRenderOptions
                                          {
                                              DisplayLinkToIndividualPages = true,
                                              LiElementClasses = new string[] { "page-item" },
                                              PageClasses = new string[] { "page-link" }
                                          })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/PartialViews/Spinner.cshtml")
